<a href="https://colab.research.google.com/github/rm17octo22/practice12/blob/main/Custom_Functions_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Write a program function to print twin primes less than or equal to 1000.
If two consecutive odd numbers are both prime then they are known as twin primes
Twin Prime:
(3, 5)
(5, 7)
(11, 13)
(17, 19)
 ....
'''
def isprime(n):
  for i in range(2,n):
    if n%i ==0:
      return False
  return True

def twin_prime(a): # a = 10
  for i in range(2,a-1): # range(2,9) --> 2,3,4,5.....8 | i & i + 2 both are within the range | Edge cases
    if isprime(i) and isprime(i+2):
      print((i,i+2))


twin_prime(a = 100)

# a = 10
# (3,5) --> < a within the range a
# 9 , 11 --> 11 is out of range 'a'
# i : 2 to 8
# i & i + 2 both are in the range of till 10


# isprime(n=7)

(3, 5)
(5, 7)
(11, 13)
(17, 19)
(29, 31)
(41, 43)
(59, 61)
(71, 73)

In [ ]:
'''
Write a  Python function that prints out the first n rows of Pascal's triangle.

Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.
Input - n : 6
Output -

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

'''

# Input:[1,1] --> Output :[1,2,1]
# [1,2,1] --> [1,3,3,1]

def next_row(_list): # [1,2,1]
  _out = [1]
  for i in range(len(_list)-1):# Range(0, 3) --> 0,1,2 # _list = [1]. range(1-1)# range(0) --> []
    next_num = _list[i] + _list[i+1] # i = 2 . i +1 = 3 , that's not present in the list.
    _out.append(next_num)
  _out.append(1)
  return _out

def full_pattern(rows):
  pattern_row = [1]
  for i in range(rows):
    print(pattern_row)
    pattern_row = next_row(_list = pattern_row)

# Iterations :
# pattern_row = [1]
# I1 : i =0
#print(pattern_row)--> [1]
# pattern_row = next_row(_list = [1]) --> [1,1]

# I2 : i =1
# print(pattern_row) --> [1,1]
# pattern_row = next_row(_list = [1,1]) --> [1,2,1]

# I3 : i = 2
# print(patten_row) --> [1,2,1]
# pattern_row = next_row(_list = [1,2,1]) --> [1,3,3,1]


full_pattern(rows =6 )

# Input : _list = [1,2,1] --> Output : [1,3,3,1]
# _list[0] + _list[1] = 3
# _list[1] + _list[2] = 3

# Input : _list = [1,3,3,1] --> Output : [1,4,6,4,1]
# _list[0] + _list[1] = 1+3 = 4
# _list[1]  + _list[2] = 3+3 = 6
# _list[2] + _list[3] = 3+1 = 4
# _list[3] + _list[4] # Index out of range
# 0,1,2 --> range(len(_list)-1) # 0,1,2 | len(_list) =4
# range(4-1) range(3) --> 0,1,2

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [ ]:
a = 20

# i and i + 5 : both are under 20: 20 is included

# range() # a-5, a-4 , a-6
for i in range(a-4): # range(16) --> i : 15, range(14) --> 0, 13
  print(i, i +5)

0 5
1 6
2 7
3 8
4 9
5 10
6 11
7 12
8 13
9 14
10 15
11 16
12 17
13 18
14 19
15 20

In [ ]:
(0.2 + 0.1 ) == 0.3

False