<a href="https://colab.research.google.com/github/rm17octo22/practice12/blob/main/Exception_Handling_in_python_20th_Oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print the x/y
x = int(input())
y = int(input())
print(x/y) # Divison by 0, not possible
print( x* y )

10
0

ZeroDivisionError: division by zero

In [ ]:
# try, except & finally
try:
  x = int(input())
  y = int(input())
  print(x/y) # Divison by 0, not possible
  print( x* y )
except:
  print('Enter the value where y !=0 & x,y both must be numeric ')

4
2
2.0
8

In [ ]:
del x,y

In [ ]:
try:
  x = int(input())
  y = int(input())
  print(x/y) # Divison by 0, not possible
except:
  print('Enter the value where y !=0 & x,y both must be numeric ')
  print( x* y )

a
Enter the value where y !=0 & x,y both must be numeric

NameError: name 'x' is not defined

In [ ]:
x = int(input())
y = int(input())
if y !=0:
  print(x/y)
  print(x*y)
else:
  print('Y should be non Zero')

3
0
Y should be non Zero

In [ ]:
# Handling Edge Cases
# User Friendly Error
# Storing the errors to refer to it later. | Debugging the code
# Continuity of the code

10
0
Value of y can't be 0
0

10
0
Input Value is wrong, x&y can be integer and y cant be 0

In [ ]:
# try and except : If and else but for error
# try : if there is no error: run the code
# except: execute the code inside it if there is an error in try block.

In [ ]:
try: # Keep running the code until there is an error


except: # If there is an error then run the code inside the except

In [ ]:
# try, except and finally
def factorial(n):
  """
  Expected Input : : Positive values >=0
  Output : n!
  """
  try:
    _fact = 1
    for i in range(1,n+1):
      _fact*=i
    return _fact
  except:
    print('Enter the value >=0')

  finally:
    print('Code is Executed')

In [ ]:
factorial(n = 'a')

Enter the value >=0
Code is Executed

In [ ]:
factorial(n = 0)

Code is Executed

1

In [ ]:
# Finally : it will run no matter what
# Case :
# 1. try --> Is executed Successfully --> finally
# 2. try : error --> except --> finally

In [ ]:
# Python code : is giving error not logical

In [ ]:
list(range(1,0))

[]

#### Custom Raise error

In [ ]:
# Capturing the error
try:
  age = int(input('Enter the age:'))
  if age <0:
    raise ValueError('Enter the right age')
  elif age ==0:
    raise ValueError('Enter the non Zero Age')
  print(f'You will be {age+1} next year')
except Exception as e:
  print(f'Error is : {e}')

Enter the age:0
Error is : Enter the non Zero Age

In [ ]:
# Write a code for Factorial : Implement try, except and finally
def factorial(n):
  """
  Expected Input : : Positive values >=0
  Output : n!
  """
  try:
    if n < 0:
      raise ValueError('Enter the value >=0') # Forcibiliy, I have mentioned throw the error
    _fact = 1
    for i in range(1,n+1):
      _fact*=i
    return _fact
  except:
    print('Enter the value >=0')

  finally:
    print('Code is Executed')

In [ ]:
factorial(n='a')

Enter the value >=0
Code is Executed

In [ ]:
factorial(n=0)

Code is Executed

1

In [ ]:
factorial(n= -1)

Enter the value >=0
Code is Executed

In [ ]:
# Python is not giving error : rather we forced for <0 case for the error

In [ ]:
# raise error is executed, code will not run any further in try block.--> except block

In [ ]:
# Real Scenario: finally
try:
  user_location = logic_of_getting(lat, long) # based on mobile/sim location
  if lat <0 or long <0:
    raise ValueError('Wrong Lat, long') # this is executed : it goes to except
except:
  user_location = home_address(lat,long) # default lat, long

finally:
  # Whole Recommendation system logic
  recommendation = within1kmofinterest(lat,long)

In [ ]:
# using Except , give message specific to error
try:
  x = int(input())
  y = int(input())
  print(x/y)
except ZeroDivisionError: # Error Specific Exception handling
  print('Y cannot be zero')
except TypeError: # Error Specific Exception handling
  print('X & Y must be integer')
except: # Generic Exception handling
  print('X& Y must be integer and Y must not be zero')
finally:
  print('code is executed')

9
0
Y cannot be zero
code is executed

In [ ]:
del x,y

In [ ]:
try:
  x = int(input())
  y = int(input())
  print(x/y) # Divison by 0, not possible
except ValueError:
  print('Enter the value which is numeric')
  # print( x* y )
except:
  print('Enter the value where y !=0 & x,y both must be numeric ')
  print( x* y )

a
Enter the value which is numeric

In [ ]:
try:
  x = int(input())
  y = int(input())
  print(x/y) # Divison by 0, not possible
except ValueError:
  print('Enter the value which is numeric')
  # print( x* y )
# except:
#   print('Enter the value where y !=0 & x,y both must be numeric ')
#   print( x* y )

4
0

ZeroDivisionError: division by zero

In [ ]:
# Catching the error using except
try:
  x = int(input())
  y = int(input())
  print(x/y)
except ZeroDivisionError: # Error Specific Exception handling
  print('Y cannot be zero')
except ValueError:
  print('X & Y must be integer')
except Exception as e: # Generic Exception handling
  print('The error message is',e)
finally:
  print('code is executed')

a
X & Y must be integer
code is executed

In [ ]:
# Error which are python specific :
# What if : Logic specific : Exception handling

In [ ]:
try:
  age = int(input())
  if age < 0: # Logic for python is right but not specific to PS
    raise ValueError("Please input age as > 0")
  print(f'You are {age} years old')
except Exception as e: # Generic error but I am catching the error
  print(f'The Error is: {e}')

-1
The Error is: Please input age as > 0

In [ ]:
try:
  _x = int(input())
  if _x<0:
    raise ValueError('Enter the value >0')
  print(_x)
except Exception as e: # Catching the error
  print('The Error is:',e)

a
The Error is: invalid literal for int() with base 10: 'a'

In [ ]:
# int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
try:
  age = int(input())
  if age < 0: # Code itself will not raise the issue but you are raising it.
      raise ValueError("Please put age as >0") # Error is raised --> except --> finally
  print(f'You are {age} years old')
except:
  print('Instruction to user')
finally:
  print('Code has run')

4
You are 4 years old
Code has run

In [ ]:
# Custom raise
try:
  age = int(input())
  if age < 0: # Code itself will not raise the issue but you are raising it.
      raise my_error("Please put age as >0") # Error is raised --> except --> finally
  print(f'You are {age} years old')
except ValueError:
  print(':Please put age > 0:')
except Exception as e: # generalised but also I am catching the error message
  print(f"This is the exception {e}")
finally:
  print('Code has been executed')

24
You are 24 years old
Code has been executed

In [ ]:
# ValueError, TypeError, ... :predefined Error Categories

In [ ]:
# Business error
# Custom Error : Category
class my_error(Exception): # Inheriting the characteristics of Exception
  pass
# Profit_error : Child Class Inheriting all properties of Exception Class as Parent

In [ ]:
try:
  age = int(input())
  if age < 0: # Code itself will not raise the issue but you are raising it.
      raise my_error("Please put age as >0") # Error is raised --> except --> finally
  print(f'You are {age} years old')
except ValueError:
  print(':Please put age > 0:')
except Exception as e:
  print(f"This is the exception {e}")
finally:
  print('Code has been executed')

-1
This is the exception Please put age as >0
Code has been executed

In [ ]:
# Error Categories : (IndetationError, SyntaxError)-- > Not handled by Try & Except
# ValueError, TypeError,ZeroDivisionError --> try & except

In [ ]:
help(Exception)

In [ ]:
help(BaseException)

In [ ]:
help(TypeError)

In [ ]:
# Handout:
# M1 : Capstone Project : 30 Questions Solve and submit it for manual evaluation
# 50 questions : Daily 1-2 questions for 2-3 months
# Leetcode/hackerrank: Category Array and String : Easy questions
# Module 1 : Assessments , quiz, coding questions...
# M1-M6 : Within 1 year | Class: 6-7 months
# Personality Development: Mindset, How to talk to anyone?
# Python : eBook

In [ ]:
# getter & Setter : keywords | word
# Data Encaptulated __private | I can't see/access the information and update the information

In [ ]:
class BankAccount:
  bank_name = 'AB Bank of India'
  def __init__(self,name,pancard,balance =0):
    self.name = name # Public
    self.pancard = pancard # Public
    self.__balance = balance # Private

  def deposit(self,amount): # Setter Methods
    self.__balance += amount
    print(f'You have successfully deposited the amount INR {amount} \n. New Balance is INR {self.__balance}')

  def withdraw(self, amount): # Setter Methods
    if amount > self.__balance:
      print('You have insufficient balance')
    else:
      self.__balance -= amount
      print(f'You have successfully withdrawn the amount INR {amount},\n New Balance INR {self.__balance}')

  def check_balance(self): # getter method
    print(f'You have INR {self.__balance} in account')

In [ ]:
a = BankAccount(name = 'abc', pancard ='fefwe')

In [ ]:
a.name

'abc'

In [ ]:
a.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
# Method : get the data

In [ ]:
a.check_balance()

You have INR 0 in account

In [ ]:
# Update the data
# method which can set/update the data --> Setter

In [ ]:
# private data : You cannot access directly rather you have access through Methods inside Class